.header {
  display: flex;
  background-color: #e0e0e0;

  padding: 20px;
}
.leftBar {
  margin: 10px;
  padding: 20px;
  width: 20%;
}
.analysisPanel {
  margin: 10px;
  padding: 20px;
  width: 100%;
}
.flex-container {
  display: flex;
  background-color: #f0f0f0;
}

.flex-container > div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
}
